body header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: "Poppins", sans-serif;
}
body header nav ul li ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #888888;
    font-family: inherit;  
}

.txt1 {
    font-size: 80px;
    font-weight: 900;
    /* color: #fff; */
}

.txt2 {
    /* color: #fff; */
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: 300;
}
