@import "vars";
@import "mixins";
.main-visual{
    iframe{
        width: 100%;
        aspect-ratio: 1 / 0.5625;
        // height: 100vh;
        // img나 video에만 사용가능
        // object-fit:cover;
    }
    .slogan{
        position: absolute;
        color: #fff;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: $h1;
        font-weight: 700;
        line-height: 1.5;
        .word{
            overflow: hidden;
        }
    }
}

.banner {
    margin-left:230px;
    margin-top: 200px;
    .mask{
        padding:100px 0;
        margin: 0 auto;
        overflow-x: hidden;
        margin-top: 20px;
        position: relative;
        button{
            position: absolute;
            background: none;
            top: 40%;
            border: 2px solid #fff;
            border-radius: 100%;
            width:60px;
            height: 60px;
            z-index: 2;
            cursor:pointer;
            .material-icons{
                font-size: 48px;
                color: #fff;
            }
            &.btn-next{
                right: 585px;
            }
        }
        .pagination{
            z-index: 1;
            position: absolute;
            top: 85%;
            left: 54%;
            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
                opacity: 1;
                // border: 3px solid $main-color;
                background: #ccc;
                border-radius: 100px;
                transition: all 0.5s ease;
                &-active{
                    width: 30px;
                    background-color:$main-color;
                }
            }
        }
    }
    .list{
        li{
            width: 1000px;
            a{
                display: block;
                position: relative;
                .img-box{
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 600px;
                        transition: all 0.5s ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .txt{
                    display: flex;
                    align-items: center;
                    margin-top: 28px;
                    .main{
                        background-color: #000;
                        color: #fff;
                        font-size: $h4;
                        padding: 12px 16px;
                        @include longShadow(30,rgba(#ff768d,1));
                        overflow:hidden;
                    }
                    .sub{
                        margin-left: 20px;
                        font-size: 28px;
                        font-weight: 700;
                    }
                }
                .logo{
                    position: absolute;
                    top: 80px;
                    left: 60px;
                }
            }
        }
    }
}

.partner{
    padding: 150px 0;
    background-color: $bg-color;
    overflow-x: hidden;
    .brand{
        margin-top: 50px;
        ul{
            transition-timing-function: linear;
            li{
                padding: 0 40px;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// .tech-content{
//     iframe{
//         width: 100%;
//         aspect-ratio: 1 / 0.5625;
//     }
//     .content{
//         width: 100%;
//         position: absolute;
//         padding:120px 0 ;
//         .title-box{
//             top: 180px;
//             h2{
//                 color: #fff;
//                 font-size: $h1;
//                 font-weight: 700;
//                 line-height: 1.5;
//                 margin-bottom: 30px;
//                 .mini{
//                     color: $main-color;
//                     display: block;
//                     font-size: 18px;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//         .content-list{
//             display: flex;
//             align-items: start;
//             top: 500px;
//             a{
//                 padding-right:40px;
//                 color: #fff;
//                 .img-box{
//                     overflow: hidden;
//                     img{
//                         transition: all 0.5s ease;
//                         &:hover{
//                             transform: scale(1.1);
//                         }
//                     }
//                 }
//                 p{
//                     margin-top: 20px;
//                     color: #ddd;
//                     font-size: 18px;
//                     font-weight: 500;
//                 }
//             }
//         }
//     }
// }

.effect{
    // width: 1430px;
    // // 넓이의 margin left,right auto 처리하면 중앙으로 옴.
    // margin-left: auto;
    // margin-right: auto;
    padding: 150px 0; //내 안쪽 여백을 떨어뜨리는건 padding
    position: relative;
    color: #fff;
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        aspect-ratio: 1 / 0.5625;
        z-index: -1;
    }
    .panel{
        ul{
            display: flex;
            justify-content: space-between;
            li {
                width: 24%;
                // a:hover{
                //     img{
                //         transform: scale(1.25);
                //     }
                // }
                .img-box{
                    overflow: hidden;
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                img{
                    width: 100%;
                    //효과같은걸 줄때 가끔 딸깍거리는 현상이 발생하면 vertical-align:top 주면된다.
                    vertical-align: top;
                    aspect-ratio: 1 / 1.5;
                    transition: all 0.5s ease;
                }
                p{
                    padding-top: 20px;
                    color: #ddd;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}

.news{
    padding: 150px 0;
    .title-box{
        display: flex;
        align-items: end;
        h2{
            margin-bottom: 0;
        }
        .detail{
            margin-left: 50px;
            font-size: $h4;
            font-weight: 700;
            color: #999;
            margin-bottom: 3px;
            transition: all 0.5s ease;
            &:hover{
                color: $main-color;
                transition: all 0.25s ease;
                .material-icons{
                    transform: translateX(5px);
                    transition: all 0.5s ease;
                }
            }
        }
    }
    .panel{
        margin-top: 50px;   //마진병합 일어나면 큰거 하나만 먹음
        ul{
            display: flex;
            justify-content: space-between;
            //margin과 gap의 차이
            //좌우 인접요소가 있을때 gap이 생김
            //margin은 전부 다 만듦
            gap:0 20px;
            // flex-wrap: wrap; //자리 없으면 밑으로 떨어짐
            li{
                width: 33.33%;
                .img-box{
                    img{
                        width: 100%;
                        height: 280px;
                    }
                }
                .txt-box{
                    h3{
                        margin:20px 0 30px;
                        font-size: $h3;
                        font-weight: 700;
                        // white-space: nowrap;    //무조건 한줄. 줄바꿈X
                        // text-overflow: ellipsis;    //한줄에만 가능
                        // // width: 400px;
                        // overflow: hidden;
                        @include ellipsis();
                    }
                    p{
                        color: #666;
                        // line-height: 1.5;
                        // //em 단위는 부모의 글자크기를 기준으로 한다. 만약 글자크기가 20px이면 3em이면 60px이 됨.
                        // height: 4.5em;
                        // overflow: hidden;
                        // // -ms- , -webkit- , -moz-
                        // // webkit : 구글, 사파리 계열
                        // // vendor 프리픽스?
                        // display: -webkit-box;
                        // -webkit-line-clamp: 3;  //3줄
                        // -webkit-box-orient: vertical;
                        // text-overflow: ellipsis;
                        @include multiEllipsis(5);
                    }
                }
            }
        }
    }
}

.recruit{
    padding: 150px 0;
    background-image: url("../images/main/background.png");
    background-repeat: no-repeat;
    color: #fff;
    .txt-box{
        font-size: $h1*1.5;
        font-weight: 700;
        line-height: 1.5;
        .rolling{
            width: 500px;
            height: 120px;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            color: $main-color;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 7px;
                background-color: #fff;
                z-index: 1;
            }
        }
    }
    .more{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        font-size: $h4;
        font-weight: 500;
        background-color: $main-color;
        //darken($color,$amount) : $color보다 $amount%만큼 어둡게 / scss 내장함수
        //lighten(~)도 있음
        @include longShadow(50,darken($main-color,10));
        overflow: hidden;
    }
}

.title-box{
    h2{
        font-size: $h1;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 30px;
        .mini{
            color: $main-color;
            display: block;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    p{
        font-size: $h3;
        color: #333;
        font-weight: 400;
        line-height: 1.5;
    }
    .detail{
        .material-icons{
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}