.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  color: #fff;
  box-sizing: border-box;
  z-index: 99;
}
.header.on {
  color: #000;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.header.on .logo a div.white {
  opacity: 0;
}
.header.on .logo a div.black {
  opacity: 1;
}
.header.on .util-menu .menu a .black {
  opacity: 1;
}
.header.on .util-menu .menu a .white {
  opacity: 0;
}
.header .logo a {
  display: flex;
  align-items: center;
}
.header .logo a > div {
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.header .logo a > div.white {
  opacity: 1;
}
.header .logo a > div .firstlogo {
  height: 35px;
  padding-right: 10px;
}
.header .logo a > div .secondlogo {
  height: 20px;
}
.header .util-menu {
  display: flex;
  align-items: center;
  position: relative;
  width: 70px;
}
.header .util-menu .lang {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 0;
}
.header .util-menu .menu {
  position: absolute;
  right: 0;
}
.header .util-menu .menu img {
  width: 30px;
}
.header .util-menu .menu a .white {
  position: absolute;
}
.header .util-menu .menu a .black {
  opacity: 0;
}

.footer {
  color: #fff;
  background: #202020;
  padding: 100px 0;
}
.footer .upper {
  display: flex;
  padding: 50px 0;
}
.footer .upper .upper-left {
  line-height: 2;
  flex-grow: 1;
}
.footer .upper .upper-left img {
  width: 172px;
  height: 17px;
}
.footer .upper .upper-left p {
  font-size: 16px;
  color: #787878;
}
.footer .upper .upper-left .sns {
  display: flex;
  gap: 20px;
}
.footer .upper .upper-left .sns li img {
  width: 20px;
  height: 20px;
}
.footer .upper .upper-right {
  flex-grow: 2;
}
.footer .upper .upper-right .list {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
}
.footer .upper .upper-right .list .depth01 {
  font-size: 20px;
  display: block;
  padding-bottom: 10px;
}
.footer .upper .upper-right .list .depth02 {
  color: #787878;
  font-size: 14px;
}
.footer .lower {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #787878;
  padding-top: 50px;
  color: #787878;
}
.footer .lower .list {
  display: flex;
  gap: 20px;
}
.footer .lower .list li {
  padding-right: 20px;
  border-right: 1px solid #787878;
  margin-bottom: 15px;
}
.footer .lower .list li:last-child {
  border-right: none;
}